/* filepath: c:\Users\User\Documents\WebProjects\Adutem\safe-auto\src\index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary-color: #f02c33;
  --white: #fff;
  --gray: #1c1c1c;
  --black: #000;
  --mont: "Montserrat", sans-serif;
  --teko: "Teko", sans-serif;
  --white-rgb: 255, 255, 255;
  --primary-rgb: 240, 44, 51;
  --gray-rgb: 28, 28, 28;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.Toastify__toast-container {
  z-index: 200324000;
}
